---
layout: default
title: Rubygoal
---
<h2>¿Cómo participar?</h2>
<div class="row">
  <div class="col-md-12">
    Pasa por nuestro stand y arma tu estrategia con la ayuda de nuestro equipo. <br>

    Sino implementá tu estrategia y mandá un email a <a href="mailto:rubygoal@wyeworks.com">rubygoal@wyeworks.com</a> con
    <ul>
      <li>Nombre completo</li>
      <li>Archivo Ruby con la implementación de tu estrategia.</li>
    </ul>

    Las incripciones cierran a las 13hrs y a las 21hrs, para la mañana y la tarde respectivamente.
  </div>
</div>

<h2>Modalidad</h2>
<div class="row">
  <div class="col-md-8">
    <p>
      Las inscripciones se dividiran en dos grupos: mañana y tarde. <br>
      Los integrantes de cada grupo competiran entre si a modo de eliminacion hasta obtener un finalista.  <br>
      Por ultimo se hara una gran final entre los finalistas de cada grupo.
    </p>
  </div>
</div>

<h2>Resultados</h2>
<div class="row">
  <div class="col-md-12">
  Hacé click sobre cualquiera de los partidos para ver la grabación
  </div>
  <div class="col-md-12">
    <h3>Campeonato Matutino</h3>
    <p>
    Participaron 17 equipos, por lo que fue necesario sortear dos equipos para disputar un partido eliminatorio.
    El ganador de este partido previo y los 15 restantes disputaron partidos eliminatorios para así llegar a un ganador.
    </p>
  </div>
  <div class="col-md-12">
  {% include match/table.html datafile="ort-matutino" %}
  </div>
  <div class="col-md-12">
    <h3>Campeonato Vespertino</h3>
    <p>
    Participaron 12 equipos que se dividieron en 4 grupos. Disputamos partidos todos contra todos en cada grupo
    y el ganador de cada serie clasificó a semifinales.
    Finalmente, disputamos dos semifinales y el partido final.
    </p>
  </div>
  <div class="col-md-12">
  {% include match/table.html datafile="ort-vespertino" %}
  </div>
  <div class="col-md-12">
    <h3>Gran final</h3>
    <p>
      Final entre los ganadores de la mañana y la tarde, jugada a dos partidos por puntos.
    </p>
  </div>
  <div class="col-md-12">
  {% include match/table.html datafile="ort-finales" %}
  </div>
  {% include match/player_modal.html %}
</div>

<h2>Más info</h2>
<div class="row">
  <div class="col-md-12">
  Acercate al stand de WyeWorks, con cualquier consulta que tengas y te ayudamos con tu estrategia.<br/>
  También podés twittear al hashtag <a href="https://twitter.com/search?q=%23rubygoal">#rubygoal</a>.
  </div>
</div>
